@model FeedbackViewModel

<div class="row">
    @foreach (var feedback in Model.Feedbacks)
    {
    <div class="col-sm-12 col-lg-12 col-md-12">
        <blockquote>
            @feedback.Message
            <span>
                @feedback.Name [@feedback.Email]
            </span>
        </blockquote>
    </div>
    }
    </div>
        <br />

        <div class="row">
            <div class="col-sm-10 col-lg-10 col-md-10">
                @{await Html.RenderPartialAsync("_FeedbackPostPartial", Model.PostData); }
            </div>
        </div>
